.container-phone {
  height: 100%;
  position: fixed;
  padding: 10px;
  width: 100%;
}

.phone {
  height: 100%;
  width: 23%;
  background: rgb(0, 0, 0);
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.phone-screen {
  background: rgb(230, 230, 230);
  height: 89%;
  position: relative;
  top: 31px;
}

.phone-button-press{
  padding: 0 auto;
  background: rgb(125, 125, 125);
  height: 50px;
  position: relative;
  top: 40px;
  width: 50px;
  border-radius: 1200px;
  margin: 0 auto;
  border: 1 px solid rgb(69, 69, 69);
}
