<div class="">
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <div class="brand-logo center">
        <i class="material-icons" style="font-size: 45px;">phonelink_setup</i>
      </div>
      <ul class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a [routerLink]="['costParameter']">Cost parameter</a></li>
        <li routerLinkActive="active"><a [routerLink]="['recharge']">recharge</a></li>
        <!--<li class="active"><a href="collapsible.html">JavaScript</a></li>-->
      </ul>
    </div>
  </nav>
</div>
